{% extends 'base.html' %}
{% block title %}Favoritos{% endblock %}

{% block content %}

<div class="title">
  <h1>Mis favoritos</h1>
  <!-- Filtros y opciones de ordenación -->
  <div class="client-filters">
    <!-- Filtro de ordenación -->
    <div class="order">
      <label for="sort">Ordenar por:</label>
      <select id="sort" class="form-control">
        <!-- Dropdown para seleccionar el criterio de ordenación -->
        <option value="">Sin ordenar</option>
        <option value="abc">A-Z</option>
        <option value="diff">Dificultad ↑</option>
        <option value="time">Tiempo ↑</option>
      </select>
    </div>
    <!-- Filtro por etiquetas -->
    <div class="filter">
      <label for="filter-tag">Filtrar por etiqueta:</label>
      <!-- Campo de texto para escribir la etiqueta a filtrar -->
      <input type="text" id="filter-tag" class="form-control" placeholder="Escribe etiqueta">
    </div>
  </div>
</div>

<!-- Contenedor para las tarjetas de recetas -->
<div class="cards-grid">
  {% for receta in recetas %}
    {% include 'receta_card.html' %}
  {% endfor %}
</div>

{% endblock %}
